/* [class*="row"] {
  width: auto;
  height: auto;
} */

/* .spectrometer {
  display: block;
  transform: translate(20%);
} */
/* .graphwindow {
  transform: translate(5%, 5.5%);
  flex-shrink: 0;
  width: 100%;
} */
.action-button1 {
  background-color: #c8b028;
  border: none;
  color: white;
  padding: 8px 1px;
  text-align: center;
  border-radius: 3px;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8vw;
  margin: 0 auto;
  cursor: pointer;
  width: 10%;
}
.action-button2 {
  background-color: #bb3d0b;
  border: none;
  color: white;
  padding: 8px 1px;
  text-align: center;
  border-radius: 3px;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8vw;
  margin: 0 auto;
  cursor: pointer;
  width: 10%;
}
.action-button1:hover {
  background-color: #a9a9a9;
}
.action-button2:hover {
  background-color: #a9a9a9;
}

p.ins {
  font-size: 1vw;
}
#instruction {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4vw;
}
/* .instructionsBox {
  /* padding: 10px 0;
  border-radius: 1vw;
  border: 0.3vw solid rgb(151, 210, 61);
  background-color: white;
  width: 100%;
  margin: 0 auto; */
/* position: -webkit-sticky; Required for Safari */
/* position: fixed;
  top: 0;
  z-index: 5; 
} */

.instructionsBox {
  padding: 0px 1.2%;
  border-radius: 1vw;
  border: 0.3vw solid rgb(151, 210, 61);
  background-color: white;
  width: 50%;
  margin: 0 auto;
}

input[type="radio"] {
  width: 1vw;
  height: 1vw;
  vertical-align: middle;
}
#instructions,
#instruction {
  font-size: 1.4rem;
}
.sampleselect {
  font-size: 1.4vw;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  left: 0;
}
.heavy {
  font-size: 2.2rem;
}
/* #AnimationBottomRight {
  transform: translate(0, -15%);
} */
#solutionbeaker {
  transform: translateX(70%);
}

.heavy2 {
  font-size: 1.4vw;
}

#AnimationBottomRight {
  max-width: 90%;
}

.grahphwindow {
  max-width: 90%;
}

@media (max-width: 576px) {
  .instructionsBox {
    height: auto;
    font-size: 2vw;
    width: 80%;
  }
  #instructions,
  #instruction {
    font-size: 1.3rem;
  }
  .spectrometer {
    width: 70%;
    height: auto;
    margin-left: 5rem;
  }
}

@media (max-width: 400px) {
  #syringe {
    width: 5%;
  }
}

input[type="radio"] {
  width: 5%;
  height: 2.2rem;
}
