[class*="row"] {
  width: auto;
  height: auto;
}
.spectrometer {
  display: block;
  transform: translate(20%, -15%);
}
.graphwindow {
  transform: translate(5%, -15%);
}
.action-button1 {
  background-color: #c8b028;
  border: none;
  color: white;
  padding: 8px 1px;
  text-align: center;
  border-radius: 3px;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8vw;
  margin: 0 auto;
  cursor: pointer;
  width: 10%;
}
.action-button2 {
  background-color: #bb3d0b;
  border: none;
  color: white;
  padding: 8px 1px;
  text-align: center;
  border-radius: 3px;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8vw;
  margin: 0 auto;
  cursor: pointer;
  width: 10%;
}
.action-button1:hover {
  background-color: #a9a9a9;
}
.action-button2:hover {
  background-color: #a9a9a9;
}

.img-overlay-wrap {
  position: relative;
  /* display: inline-block; <= shrinks container to image size */
  /* transition: transform 150ms ease-in-out; */
}
p.ins {
  font-size: 1vw;
}
#instruction {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4vw;
}
.instructionsBox {
  padding: 0px 1.2%;
  border-radius: 20px;
  border: 3px solid rgb(151, 210, 61);
  width: 50%;
  margin: 0 auto;
}
#instructions {
  font-size: 1.6vw;
}
#sampleselect {
  font-size: 1.4vw;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  left: 0;
}
.heavy {
  font-size: 30px;
}
